.content {
	width: 730px;
	float: right;
	margin: 0;
}

.career {
	margin-left: 25px;
}

.career__head {
	color: #414141;
	font-family: 'FiraSans-Medium';
	font-size: 35px;
	line-height: 45px;
	margin: 0 0 20px 0;
}

.career__left {
	width: 35%;
	float: left;
}

.career__logo {
	height: 220px;
	width: 220px;
	border-radius: 10px;
	display: inline-block;
}

.career__right {
	width: 65%;
	float: right;
}

.career__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.career__item {
	padding-left: 40px;
}

.career__block {
	width: 380px;
	box-sizing: border-box;
	padding: 15px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	margin: 0 0 20px 36px;
	position: relative;
}

.career__block::after {
	content: "";
    display: block;
    position: absolute;
    width: 1px;
    background: #ddd;
    left: -17px;
    bottom: -20px;
    top: 0;
}

.career__item:first-child .career__block::after {
	bottom: -20px;
    top: 50%;
}

.career__item:last-child .career__block::after {
	bottom: 50%;
    top: 0;
}

.career__title {
	color: #727272;
	font-family: 'FiraSans-Regular';
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}

.career__text {
	color: #727272;
	font-family: 'FiraSans-Light';
	font-size: 18px;
	line-height: 26px;
	margin: 0;
}

.career__year {
	color: #727272;
	font-family: 'FiraSans-Light';
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	position: absolute;
	left: -60px;
	bottom: 40%;
}

.career__year::after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: #33c1e3;
	border: 5px solid #f6f6f6;
	display: block;
	position: absolute;
	right: -26px;
	top: 2px;
	z-index: 1;
}

.career__item:hover .career__block {
	background: #33c1e3;
}

.career__item:hover .career__year {
	color: #33c1e3;
}

.career__item:hover .career__year::after {
	border: 5px solid #94e0f2;
}

.career__item:hover .career__text {
	color: #fff;
}

.career__item:hover .career__title {
	color: #fff;
}

