@media screen and (max-width: 1200px) {
	.container {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
}

	.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	min-width: 960px;
}
	
}